body {
    background-color: rgb(136, 136, 255);
    font-family: Arial;
}

.Background {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
}

.Grid1 {
    padding-bottom: 690;
    background-color: rgb(136, 136, 255);
    z-index: -10;
}
.Grid2 {
    z-index: -10;
    position: relative;
    padding-bottom: 690;
    background-color: rgb(136, 136, 255)
}

.Grid3 {
    padding-bottom: 690;
    background-color: rgb(136, 136, 255);
}

.App {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 500;
    width: 100%;
    top: 20%;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    display: grid;
    grid-template-rows: 80px 100px;
    margin-left: -10;
}
    @property --angle{
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    .App::after, .App::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), transparent 25%, red );
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        padding: 10px;
        z-index: -1;
        border-radius: 20px;
        animation: 3s spin linear infinite;
    }
    @keyframes spin{
        from{
            --angle: 0deg;
        }
        to{
            --angle: 360deg;
        }
    }

.Title {
    position: relative;
    margin-top: 0px;
    left: 100px;
    width: max-content;
}

    .Title::after {
        content: "";
        background-color: black;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -8px;
        left: 0px;
    }

.SunCludIMG {
    position: absolute;
    width: 200px;
    height: 185px;
    top: 20px;
    left: 15;
}

.ActualTempature {
    position: absolute;
    font-size: 70;
    right: 40px;
    top: 15px;
}

.Line1 {
    position: absolute;
    height: 4px;
    width: 90%;
    background-color: black;
    top: 180px;
    margin-left: 15;
    margin-right: 10;
}

.Days {
    position: absolute;
    background-color: transparent;
    width: 90px;
    height: 285px;
    margin-left: 25px;
    margin-top: 200px;
    color: black;
}

.Mon {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: -4px;
    font-weight: bold;
}

.Tue {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.Wed {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.Wed {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.Thu {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px; 
}

.Fri {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px; 
}

.Sat {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px; 
}

.Sun {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px; 
}

.Tempature {
    position: absolute;
    background-color: transparent;
    width: 90px;
    height: 285px;
    margin-left: 155px;
    margin-top: 200px;
    color: black;
}

.TemMon {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.TemTue {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.TemWed {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.TemThu {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.TemFri {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.TemSat {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.TemSun {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.Icons {
    position: absolute;
    background-color: transparent;
    width: 90px;
    height: 310px;
    margin-left: 290px;
    margin-top: 190px;
    color: black;
}

.SunCludIMG {
    position: absolute;
    width: 200px;
    height: 175px;
    top: 29px;
    left: 15;
}

.SunCludIMG1 {
    height: 55px;
    width: 65px;
    top: 0px;
    margin-top: -4px;
    margin-bottom: 0px;
}

.SunCludIMG2 {
    height: 40px;
    width: 65px;
    top: 0px;
    margin-top: -2px;
    margin-bottom: 5px;
}

.SunCludIMG3 {
    height: 55px;
    width: 65px;
    top: 0px;
    margin-top: -14px;
    margin-bottom: 0px;
}

.SunCludIMG4 {
    height: 55px;
    width: 65px;
    top: 0px;
    margin-top: -14px;
    margin-bottom: 0px;
}

.SunCludIMG5 {
    height: 55px;
    width: 65px;
    top: 0px;
    margin-top: -14px;
    margin-bottom: 0px;
}

.SunCludIMG6 {
    height: 55px;
    width: 65px;
    top: 0px;
    margin-top: -14px;
    margin-bottom: 0px;
}

.SunCludIMG7 {
    height: 40px;
    width: 65px;
    top: 0px;
    margin-top: -2px;
    margin-bottom: 5px;
}
